body{
    background-color: beige;
    text-align: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px;
    margin-left: 100px;
    min-height: 50vh;
    width: 500px;
    border: 1px solid;
    border-radius: 10px;
}
